/* You can add global styles to this file, and also import other style files */

/* Import Nunito Sans from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Apply font family to all elements */
* {
  font-family: 'Nunito Sans', sans-serif;
}

/* Set specific weights for different elements if needed */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 800 !important;
  color: #000;
}

h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 800 !important;
  color: #000;
}

body,
p,
div,
button {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
}

span {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
}

button-hover {
  background-color: #FFC8DD !important;
  color: #000 !important;
  border-radius: 16px !important;
}

/* Specifically target Angular Material */

mat-icon {
  color: #636363 !important;
}

.mat-typography {
  font-family: 'Nunito Sans', sans-serif !important;
}

.mat-mdc-button,
.mat-mdc-card,
.mat-mdc-dialog-container,
.mat-mdc-form-field {
  font-family: 'Nunito Sans', sans-serif !important;
}

/* Material menu styles */
.mat-mdc-menu-panel {
  min-width: 200px !important;
  border-radius: 8px !important;
  background-color: #ffffff !important;
}

.mat-mdc-menu-item {
  height: 48px !important;
  font-size: 16px !important;
}

.mat-mdc-menu-item .mat-icon {
  margin-right: 16px !important;
}

.mat-mdc-menu-item-text {
  color: #000 !important;
  font-weight: 600 !important;
}

/* Material Cards */

.mat-mdc-card {
  background-color: #ffffff !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.mat-mdc-card-content {
  background-color: #ffffff !important;
  /* border: solid; */
  border-radius: 10px !important;
  border-color: #636363 !important;
}

.mat-mdc-raised-button {
  background-color: #FFC8DD !important;
  color: #000 !important;
  border-radius: 16px !important;
}