<div class="app-container">
    @if (showNavigation) {
        <div>
            <app-toolbar></app-toolbar>
            <div class="content-container">
                <app-sidenav></app-sidenav>
                <div class="page-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    }
    @if (!showNavigation) {
        <div class="login-container">
            <router-outlet></router-outlet>
        </div>
    }
    <app-trial-banner></app-trial-banner>
</div>