.deck-card {
    max-width: 250px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.deck-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

mat-card-title {
    font-size: 18px;
    font-weight: 500;
}

mat-card-content {
    /* height: 80px; */
}

.card-count {
    color: #666;
    font-size: 14px;
    margin-top: 8px;
}

mat-card-actions {
    display: flex;
    justify-content: space-around;
    padding-bottom: 8px;
}

mat-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s;
}