.deck-card {
    display: flex;
    height: 88px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 16px;
    cursor: pointer;
}

.deck-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

mat-card-title {
    font-size: 20px;
    font-weight: 900;
}

mat-card-actions {
    display: flex;
    justify-content: space-around;
    padding-bottom: 8px;
}

mat-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    min-width: 240px !important;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 100,
        'wght' 400,
        'GRAD' 0,
        'opsz' 36;
    transform: scaleY(-1);
}

.icon-square {
    width: 56px;
    height: 56px;
    min-width: 56px;
    background-color: #dfbbdb;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 16px 0 16px;
}

.card-container {
    display: flex;
    flex: 1;
}

.card-content {
    flex: 1;
    padding-left: 16px;
}

.menu-button {
    margin-top: -8px;
    margin-right: -8px;
}

.title {
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 4px;
}

.subtitle {
    display: flex;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    white-space: pre-wrap;
}

.card-count {
    font-weight: 400;
}

mat-card-actions {
    display: flex;
    justify-content: flex-start;
    padding: 8px 0 0 72px;
}

.color-red {
    color: #f44336 !important;
}

@media (max-width: 640px) {
    .title {
        max-width: 100px;
        /* Limit title width */
    }

    .card-content {
        padding-left: 0px;
    }

    mat-card-actions {
        display: none;
        /* Hide actions on small screens */
    }

    .status {
        display: none;
        /* Hide status on small screens */
    }

    .user {
        display: none;
        /* Hide user on small screens */
    }

}