<mat-drawer-container class="sidenav-container" [style.width.px]="isExpanded ? 200 : 60">
    <mat-drawer #drawer class="sidenav" mode="side" opened [style.width.px]="isExpanded ? 200 : 60">
        <mat-nav-list>
            <mat-list-item (click)="toggleSidenav()">
                <mat-icon matListItemIcon>menu</mat-icon>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>home</mat-icon>
                @if (isExpanded) {
                    <div matListItemTitle>Home</div>
                }
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>folder</mat-icon>
                @if (isExpanded) {
                    <span>My Library</span>
                }
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <!-- <mat-drawer-content>Main content</mat-drawer-content> -->
  </mat-drawer-container>