<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="logo-container" (click)="goToHome()">
        <img src="assets/mantra-logo.svg" alt="Mantra Logo" class="logo">
    </div>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="addMenu" aria-label="Add items">
        <mat-icon>add</mat-icon>
    </button>

    <mat-menu #addMenu="matMenu" class="menu-container">
        <button mat-menu-item routerLink="/new-deck">
            <mat-icon>library_add</mat-icon>
            <span>Create new deck</span>
        </button>
    </mat-menu>

    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="userMenu" aria-label="User menu">
        <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu" class="menu-container">
        <div class="user-info">
            <mat-icon>person</mat-icon>
            <span>{{ userEmail || 'User' }}</span>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Sign out</span>
        </button>
    </mat-menu>
</mat-toolbar>