.home-container {
  display: flex;
  height: calc(100vh - 64px);
  /* Subtract toolbar height */
  overflow: hidden;
  background-color: #fff8f8;
  width: 100%;
}

.content-area {
  display: block;
  /* flex: 1; */
  padding: 20px;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 1220px;
}

.section-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 800;
  color: #000;
}

.deck-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* padding: 16px 0; */
  max-width: 100%;
}

@media (max-width: 768px) {
  .home-container {
    height: calc(100vh - 56px - env(safe-area-inset-top));
    overflow: hidden;
  }
  
  .content-area {
    width: 95%;
    padding: 16px 10px;
    height: 100%;
    overflow-y: auto;
    /* Garante que o scroll funcione corretamente */
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px; /* Espaço extra na parte inferior */
  }
  
  .deck-grid {
    grid-template-columns: 1fr;
    gap: 12px;
  }
  
  .section-title {
    font-size: 20px;
    margin-bottom: 16px;
  }
}